/.idea
/.ipynb_checkpoints
/compiled
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
/backup-banco
/venv
/lib
/staticfiles
/htmlcov
db.sqlite3
db.sqlite3-journal
Arcan-1.2.1-SNAPSHOT
Arcan-1.2.1-SNAPSHOT.jar
shell.txt
.coverage
*.csv
*.xls
*.xlsx
data_analysis.ipynb
/versoes-ant
*.png
architectural_evolution.ipynb