/.idea
/compiled
/mining_my_repository/__pycache__
/architecture/__pycache__
/architecture/migrations/__pycache__
/common/__pycache__
/contributions/__pycache__
/contributions/migrations/__pycache__
/contributions/templatetags/__pycache__
/backup-banco
/venv
/lib
/staticfiles
db.sqlite3
db.sqlite3-journal
Arcan-1.2.1-SNAPSHOT