# GitPython==3.1.7
# PyDriller==1.15.2
GitPython==3.1.41
PyDriller==1.9.2
django>=3.2,<4.0
django-mathfilters==0.4.0
whitenoise==6.11.0
unidecode==1.4.0
seaborn==0.13.2
pyyaml==6.0.3
openpyxl==3.1.5
xlwt
xlsxwriter
django-injector==0.2.4
sentry-sdk>=1.5.1
python-json-logger==2.0.2
gunicorn==20.1.0
pytest-cov
scipy

