{% extends "base.html" %}
{% block title %}Detalhes dos commits{% endblock %}

{% block content %}

<h3>Detalhes do commit</h3>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <tr>
            <th style="text-align: right">Tag:</th>
            <td colspan="2">{{commit.tag.description}}</td>
        </tr>
        <tr>
            <th style="text-align: right">Autor:</th>
            <td colspan="2">{{commit.author.name}} - Moment Experience: {{commit.author_experience|floatformat:2}}</td>
        </tr>
        <tr>
            <th style="text-align: right">Committer:</th>
            <td colspan="2">{{commit.committer.name}}</td>
        </tr>
        <tr>
            <th style="text-align: right">Data:</th>
            <td colspan="2">{{commmit.committer_date}}</td>
        </tr>
        <tr>
            <th style="text-align: right">Cloc (without commented and blank lines):</th>
            <td colspan="2">{{commit.u_cloc}} </td>
        </tr>
        {% for parent_commit in commit.parents %}
        <tr>
            <th style="text-align: right">Parent:</th>
            <td colspan="2"><a href="/contributions/{{ parent_commit.id }}/">{{parent_commit.hash}}</a></td>
        </tr>
        {% endfor %}
        <tr>
            <th style="text-align: right">Hash</th>
            <td colspan="2">{{commit.hash}}</td>
        </tr>
        <tr>
            <th style="text-align: right">Filho</th>
            <td colspan="2">{{commit.children_commit.hash}}</td>
        </tr>
        <tr>
            <th style="text-align: right">Mensagem do commit:</th>
            <td colspan="2">
                <pre>
                    {{commit.msg}}
                </pre>
            </td>
        </tr>
        <tr>
            <th style="text-align: right">Quantidade de arquivos:</th>
            <td colspan="2">{{commit.modifications.all.count}}</td>
        </tr>

        {% for modification in commit.modifications.all %}
            <tr>
                <td colspan="3" style="text-align: center;"><strong>File {{forloop.counter}} - é java? {{modification.is_java_file}}</strong></td>
            </tr>
            <tr>
                <th style="text-align: right; vertical-align: top" rowspan="10">
                    {{modification.file}}:
                </th>
                <td>
                    <tr>
                        <td width="14%" style="text-decoration: underline">Path:</td>
                        <td>{{ modification.path }}</td>
                    </tr>
                    <tr>
                        <td width="14%" style="text-decoration: underline">New path:</td>
                        <td>{{ modification.new_path }}</td>
                    </tr>
                    <tr>
                        <td width="14%" style="text-decoration: underline">Old path:</td>
                        <td>{{ modification.old_path }}</td>
                    </tr>
                    <tr>
                        <td width="14%" style="text-decoration: underline">Change type:</td>
                        <td>{{ modification.change_type }}</td>
                    </tr>
                    <tr>
                        <td width="14%" style="text-decoration: underline">Cloc (without commented and blank lines):</td>
                        <td>{{ modification.u_cloc }}</td>
                    </tr>
                    <tr>
                        <td style="text-decoration: underline">Linhas modificadas (CLOC):</td>
                        <td>
                            <a data-toggle="collapse" href="#collapseExample{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="collapseExample{{forloop.counter}}">
                               {{ modification.cloc}}
                            </a>
                        </td>
                    </tr>
                    <tr >
                        <td colspan="2">
                            <div class="collapse" id="collapseExample{{forloop.counter}}">
                              <div class="card card-body">
                                  <h5>Diff:</h5>
                                  <pre style="text-align: left" class="alert alert-success">
                                {% autoescape on %}
                                    {{modification.diff_added}}
                                {% endautoescape %}
                                  </pre>
                                  <pre style="text-align: left" class="alert alert-danger">
                                {% autoescape on %}
                                    {{modification.diff_removed}}
                                {% endautoescape %}
                                  </pre>
                              </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-decoration: underline">Number of lines added:</td>
                        <td>
                            {{ modification.added }}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-decoration: underline">Number of lines removed:</td>
                        <td>
                            {{ modification.removed }}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-decoration: underline" colspan="2">Number of lines:</td>
                        <td>
                            {{ modification.nloc }}
                        </td>
                    </tr>
                </td>
            </tr>
        {% endfor %}

    </table>
</div>


{% endblock %}
