{% extends "base.html" %}
{% load contributions_extra %}

{% block title %}Detalhes dos commits{% endblock %}

{% block content %}
{{ block.super }}

<h3>Commits por diretórios</h3>
<input type="hidden" name="refresh" value="False">
<div class="float-right">
    <form action="{{request_path}}?directories=true" method="post">{% csrf_token %}
        <a class="btn btn-primary" href="{{request.path}}to_csv"><i class="fas sm fa-arrow-alt-circle-down"></i> CSV</a>
        <input type="hidden" name="refresh" value="True">
        <button type="submit" class="btn btn-secondary"><i class="fas fa-sync-alt"></i> Métricas</button>
    </form>

</div>

<div class="table-responsive">
    <table class="table table-striped table-sm" style="font-size: small;">

         {% if latest_commit_list %}

            {% for directory, infos in latest_commit_list.items %}
                <tr class="table-light">
                    <td colspan="8">
                        <ul>
                            <strong>Bird metrics</strong>
                            <li>Ownership: {{directory.ownership|percentage}}</li>
                            <li>Major: {{directory.major}}</li>
                            <li>Minor: {{directory.minor}}</li>

                        </ul>
                        <ul>
                            <strong>Métricas usadas para classificar tipos de desenvolvedores (JOBLIN et al., 2017)</strong>
                            <li>Threshold (experience): {{directory.experience_threshold|floatformat:5}}</li>
                        </ul>

                        <div class="row justify-content-around">
                            <div class="col-5">
                              Core developers do diretorio ({{directory.core_developers_experience|length}}):
                                <br>
                                {% for core_dev in directory.core_developers_experience %}
                                ({{forloop.counter}}) {{core_dev.name}}{% if not forloop.last %},</br> {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-7">

                            </div>
                          </div>
                    </td>
                </tr>
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Author</th>
                    <th style="text-align:right">Commits</th>
                    <th style="text-align:right">Files</th>
                    <th style="text-align:right">LOC</th>
                    <th style="text-align:right" width="10%">% commits (BF)</th>
                    <th style="text-align:right">% files (BF)</th>
                    <th style="text-align:right">% cloc (BF)</th>
                    <th style="text-align:right">Exp</th>
                    <th style="text-align:right">Exp com BF</th>
                    <th style="text-align:right">Exp (cloc) com BF</th>
                </tr>
            </thead>
            <tbody>
                    <tr class="p-3 mb-2 bg-secondary text-white">
                        <td colspan="6"><strong>{{directory.directory.name}}</strong></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:right" nowrap><small>Media: {{directory.mean|floatformat:5}}</small></td>
                        <td style="text-align:right" nowrap><small>Mediana: {{directory.median|floatformat:5}}</small></td>
                        <td style="text-align:right"><small>Desvio padrão: {{directory.standard_deviation|floatformat:5}}</small></td>
                    </tr>

                    {% for contribution in infos %}
                    <tr >
                        <td>{{forloop.counter}}</td>
                        <td><a href="{{request.path}}developers/{{contribution.author.id}}?path={{directory.directory.id}}">{{contribution.author.name}}</a> </td>
                        <td style="text-align:right"> {{contribution.commits}}</td>
                        <td style="text-align:right"> {{contribution.files}}</td>
                        <td style="text-align:right"> {{contribution.cloc}}</td>
                        <td style="text-align:right">{{contribution.ownership_commits|percentage}} ({{contribution.ownership_commits_in_this_tag|percentage}}) <strong>({{contribution.bf_commit|floatformat:2}})</strong></td>
                        <td style="text-align:right">{{contribution.ownership_files|percentage}} <strong>({{contribution.bf_file|floatformat:2}})</strong></td>
                        <td style="text-align:right">{{contribution.ownership_cloc|percentage}} <strong>({{contribution.bf_cloc|floatformat:2}})</strong></td>
                        <td style="text-align:right">{{contribution.experience|floatformat:5}}</td>
                        <td style="text-align:right">{{contribution.experience_bf|floatformat:5}}</td>
                        <td style="text-align:right">{{contribution.cloc_exp|floatformat:5}}</td>
                    </tr>
                    {% endfor %}
                    <tr class="p-3 mb-2 bg-info text-white">
                        <th colspan="2">Total:</th>
                        <th style="text-align:right">{{directory.total_commits}}</th>
                        <th style="text-align:right">{{directory.total_files}}</th>
                        <th style="text-align:right">{{directory.total_cloc}}</th>
                        <td colspan="6"></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9" style="text-align:center;">No commits are available.</td>
                </tr>
            {% endif %}

        </tbody>
{% endblock %}