{% extends "base.html" %}
{% load contributions_extra %}

{% block title %}Diretorios {% endblock %}

{% block content %}

<div class="table-responsive">
    <table class="table table-striped table-sm">
        {% if latest_commit_list %}
        <thead class="thead-dark">
        <tr>
            <th>Diretório</th>
            <th colspan="2">Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for directory in latest_commit_list %}
        <tr>
            <td>{{directory.name}}</td>
            <td>

                <form method="PUT" action="/contributions/{{directory.id}}/change" id="update-directory" novalidate>
                    {% csrf_token %}
                    <!--                            <a href="{{request.path}}data_by_directory/{{directory.id}}"><i class="fas fa-arrow-alt-circle-down"></em></a>-->
                    <button type="submit" class="btn btn-link"><em class="fas fa-eye-slash" alt="Hide"></em></button>
                </form>
            </td>
            <td>

            </td>
        </tr>
        {% endfor %}
        </tbody>
        {% else %}
        <tr>
            <td colspan="9" style="text-align:center;">No commits are available. Please click on 'Commits por diretorio'
                to
                classify commits by directory.
            </td>
        </tr>
        {% endif %}
    </table>
</div>

{% endblock %}