{% extends "base.html" %}
{% load contributions_extra %}
{% load mathfilters %}
{% block title %}Commits{% endblock %}

{% block content %}

<form method="post">{% csrf_token %}
  <div class="row justify-content-md-center">
    <div class="card" style="width: 35rem;">
    <div class="card-body">
    <h5 class="card-title">Filtros</h5>
      <div class="row">
        <div class="col">
          <label for="developer_selector">Developers</label>
            <select size="10" class="form-control mb-2" id="developer_selector" placeholder="Selecione a tag" name="developer_filter_id" multiple>
          <option selected value="{{developer.id}}">All</option>
          {% for developer in developers %} {{current_developer}}
            <option value="{{developer.id}}"
               {% if developer.id == current_developer.id %}selected="selected"{% endif %}>
               {{developer.name}}
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="col">
          <label for="tag_selector_list">Tags</label>
        <select size="5" class="form-control mb-2" id="tag_selector_list" placeholder="Selecione a tag" name="tag_filter_id" multiple>
          <option selected value="{{tag.id}}">All</option>
          {% for tag in tags %}
            <option value="{{tag.id}}"
               {% if tag.id == current_tag_filter.id %}selected="selected"{% endif %}>
               {{tag.description}}
           </option>
          {% endfor %}
        </select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
      </div>
  </div>
  </div>
</div>
</form>

<h3>Commits</h3>
<ul>Filtros:
    <li>{{current_developer}}</li>
    <li>{{current_tag_filter}}</li>
</ul>

<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Aviso</h4>
  <p>Apenas commits que possuem arquivos <strong>.java</strong> serão mostrados.</p>
    {{current_developer}}
  <hr>
    <p><strong>{{ latest_commit_list|length }}</strong> commits encontrados.</p>
</div>

<div class="pagination">
    <span class="step-links">
        {% if latest_commit_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ latest_commit_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ latest_commit_list.number }} of {{ latest_commit_list.paginator.num_pages }}.
        </span>

        {% if latest_commit_list.has_next %}
            <a href="?page={{ latest_commit_list.next_page_number }}">next</a>
            <a href="?page={{ latest_commit_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="example2">
            <thead>
                <tr>
                    <th width="5%" style="text-align:center">#</th>
                    <th>hash</th>
                    <th style="text-align: center;">Tag</th>
                    <th style="text-align: center;" width="12%">files count</th>
                    <th width="15%">Committer</th>
                    <th>Autor</th>
                </tr>
            </thead>
            <tbody>
                {% if latest_commit_list %}
                    {% for commit in latest_commit_list %}
                    <tr>
                        <th style="text-align: center;">{{latest_commit_list.number|sub:1|mul:100|add:forloop.counter}}</th>
                        <td><a href="/contributions/{{ commit.id }}/">{{commit.hash}}</a></td>
                        <td style="text-align: center;">{{commit.tag.description}}</td>
                        <td style="text-align: center;">{{commit.number_of_java_files}}</td>
                        <td nowrap>{{ commit.committer.name}} {{commit.nloc}}</td>
                        <td nowrap>{{ commit.author.name}}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7" style="text-align:center;">No commits are available. Please check 'Carregar commits' to load all commits to this tag.</td>
                    </tr>
                {% endif %}
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th>Hash</th>
                <th>Tag</th>
                <th>Files</th>
                <th>Committer</th>
                <th></th>
            </tr>
        </tfoot>
        </table>
    </div>
    <ul>

    </ul>

{% endblock %}



<!--{% if latest_commit_list %}-->
<!--    <ul>-->
<!--    {% for committer, infos in latest_commit_list.items %}-->
<!--        <li><a href="/contributions/developers/{{ committer.id }}/">{{ committer.name}}</a> - {{infos|get:0|length}} commits</li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--{% else %}-->
<!--    <p>No commits are available.</p>-->
<!--{% endif %}-->