{% extends "base.html" %}
{% load contributions_extra %}

{% block title %}Métricas da arquitetura por diretorio{% endblock %}

{% block content %}
{{ block.super }}


{% if results %}
<div class="table-responsive" id="metrics">
    <table class="table table-striped table-sm" id="headingOne" style="font-size: small;">
        {% for directory, metrics in results.items %}
        <tr>
            <td colspan="7">
<!--                <a href="#" data-toggle="collapse" data-target="#commit-{{forloop.counter}}" aria-expanded="false" aria-controls="commit-{{forloop.counter}}">-->
<!--                {{directory}}-->
<!--                </a>-->
                <a data-toggle="collapse" href="#commit-{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="collapseExample1">
                   {{directory}}
                </a>
            </td>
        </tr>
        <div id="commit-{{forloop.counter}}" class="collapse" aria-labelledby="headingOne" data-parent="#metrics">
        <tr>
            <th>Commit (autor)</th>
            <th>CA</th>
            <th>CE</th>
            <th>RMI</th>
            <th>RMA</th>
            <th>RMD</th>
            <th>Delta RMD</th>
        </tr>

        {% for metric in metrics %}
        <tr>
            <td>
                {{metric.commit.hash}} ({{metric.commit.committer.name}})</td>
            <td>{{metric.ca}}</td>
            <td>{{metric.ce}}</td>
            <td>{{metric.rmi|floatformat:4}}</td>
            <td>{{metric.rma|floatformat:4}}</td>
            <td>{{metric.rmd|floatformat:4}}</td>
            <td>{{metric.delta_rmd|floatformat:4}}</td>
        </tr>
        {% endfor %}
            </div>
        {% endfor %}

    </table>
</div>

{% endif %}


{% endblock %}

<script>

    $('#metrics').collapse({
  toggle: false
})


$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>