{% extends "base.html" %}
{% load contributions_extra %}

{% block title %}Métricas da arquitetura por diretorio{% endblock %}

{% block content %}
{{ block.super }}

<form action="{{request_path}}" method="post">{% csrf_token %}
    <div class="form-row align-items-center">
        <div class="col-auto ">
            <label for="developer_selector" class="sr-only">Tag</label>
            <select class="form-control mb-8" id="developer_selector" placeholder="Selecione a tag" name="developer_id" multiple>
              <option selected value="{{developer.id}}">Selecione desenvolvedores</option>
              {% for developer in developers %} {{current_developer}}
                <option value="{{developer.id}}"
                   {% if developer.id == current_developer.id %}selected="selected"{% endif %}>
                   {{developer.name}}
                </option>
                {% endfor %}
              </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Gerar Relatório</button>
        </div>
    </div>
</form>

{% if results %}

        <div class="table-responsive" id="metrics">
            <table class="table table-striped table-sm" id="headingOne" style="font-size: small;">
                <thead>
                    <tr>
                        <th>Diretorio</th>
                        <th>Commits nessa tag</th>
                        <th>Commits com impacto arquitetural</th>
                        <th>Exposição à Arquitetura</th>
                        <th>Delta RMD</th>
                    </tr>
                </thead>
                <tbody>
                    {% for metrics_by_developer in results %}
                    <tr class="{% if metrics_by_developer.delta_rmd != 0 %} text-danger {% endif %}">
                        <td>{{metrics_by_developer.directory.name}}</td>
                        <td>{{metrics_by_developer.commit_activity_in_this_tag}}</td>
                        <td>{{metrics_by_developer.architecturally_impactful_commits}}</td>
                        <td>{{metrics_by_developer.exposition|percentage}}</td>
                        <td>{{metrics_by_developer.delta_rmd|floatformat:4}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>



{% endif %}

{% endblock %}