{% extends "base.html" %}
{% block title %}Buscar commits{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if messages %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
{% for message in messages %}
<p><strong>{{ message }}</strong></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endfor %}

{% endif %}


<form action="{% url 'architecture:index' %}" method="post">{% csrf_token %}
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label>Diretório para salvar os commits e os compilados</label>
      {{ form.directory }}
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label>Local do repositório local</label>
      {{ form.git_local_repository }}
    </div>
    <div class="col-md-4 mb-3">
      <label>Diretorio de arquivos compilados no repositório local</label>
      {{ form.build_path }}
    </div>
  </div>
  <input type="hidden" value="1" name="project_id">
  <button class="btn btn-primary" type="submit">Gerar compilados</button>
</form>


<hr>

<p>Arquivos no diretório acima:</p>
<div class="alert alert-info" role="alert">
  <p>É importante ter um arquivo de configuração que especifiquem:</p>
  <ul>
    <li>O diretorio com os arquivos .java</li>
    <li>O diretório com as bibliotecas</li>
    <li>O diretório onde ficarão os .class</li>
  </ul>
  <p>Lembrando que é preciso ter configurado <a href="https://ant.apache.org/manual/install.html">Apache Ant</a>
    e ter colocado a variavel de ambiente ANT_HOME e JAVA_HOME nas variáveis de ambiente.</p>
  <p>Configurar a variavel de ambiente <strong>JAVA_HOME</strong> e selecionar a versão correta do JDK (que é de 1.2 para 1.8)</p>
  <p>Todos os projetos serão compilados com: <strong>ant compile</strong></p>
  <p>É preciso criar um arquivo configurando estes detalhes.</p>
  <p>Configure a jre adequada. Foi testado usando <strong>Java 8</strong>. Para verificar sua versão aperte <strong>CTRL+R</strong>
  digite <strong>cmd</strong> e aperte ENTER. No terminal que abrirá, digite e veja se aparece a versão do java:
    <pre>$ java -version</pre>
  </p>
  <p>Algumas vezes será necessário abrir o programa no eclipse e corrigir possíveis problemas. Por exemplo:
  no projeto Apache Ant, versões antigas usavam versões muito antigas do java. Alteramos todas as ocorrências de 'enum'
  por 'enum_'.</p>
</div>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="text-align:center">#</th>
      <th scope="col">Arquivo</th>
      <th scope="col">Compilados?</th>
      <th scope="col" style="text-align:center">Ações</th>
    </tr>
  </thead>
  <tbody>
  {% if files %}
  {% for file in files %}
  <tr>
    <td scope="row" style="text-align:center">{{forloop.counter}}</td>
    <td>{{file}}</td>
    <td>{{file.has_compileds}}</td>
    <td style="text-align:center"><a href="{% url 'architecture:build_compileds' file.id %}"><i class="icon ion-md-bug"></i></a></td>
  </tr>
  {% endfor %}
  {% else %}
    <tr>
      <th scope="row" colspan="3"style="text-align:center">Nenhum arquivo criado neste diretório.</th>
    </tr>

  {% endif %}

  </tbody>
</table>
</div>



{% endblock %}