{% extends "base.html" %}
{% load contributions_extra %}

{% block title %}Métricas da arquitetura por diretorio{% endblock %}

{% block content %}
<div class="alert alert-light" role="alert">
    Select a tag and any of these filters: developer(s) and directory(ies) to see a report with architectural metrics
</div>
{{ block.super }}

<form action="{{request_path}}" method="post">{% csrf_token %}
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label for="directory_selector" class="sr-only">Tag</label>
            <select class="form-control mb-4" id="directory_selector" placeholder="Selecione a tag" size="8" name="directory_id" multiple>
              <option selected value="{{developer.id}}">Selecione diretórios</option>
              {% for directory in directories %} {{current_directory}}
                <option value="{{directory.id}}"
                   {% if directory.id == current_directory_id %}selected="selected"{% endif %}>
                   {{directory.name}}
                </option>
                {% endfor %}
              </select>
        </div>
        <div class="col-auto">
            <label for="developer_selector" class="sr-only">Tag</label>
            <select class="form-control mb-4" id="developer_selector" placeholder="Selecione a tag" size="8" name="developer_id" multiple>
              <option selected value="{{developer.id}}">Selecione desenvolvedores</option>
              {% for developer in developers %} {{current_developer}}
                <option value="{{developer.id}}"
                   {% if developer.id == current_developer_id %}selected="selected"{% endif %}>
                   {{developer.name}}
                </option>
                {% endfor %}
              </select>
        </div>
    </div>
    <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2">Gerar Relatório</button>
        </div>
</form>

{% if results %}

        {% for directory, metrics_by_developer in results.items %}
        <div><a data-toggle="collapse" href="#commit-{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="collapseExample1">
                   {{directory.name}}
                </a></div>
<!--                <a href="#" data-toggle="collapse" data-target="#commit-{{forloop.counter}}" aria-expanded="false" aria-controls="commit-{{forloop.counter}}">-->
<!--                {{directory}}-->
<!--                </a>-->


    <div class="table-responsive" id="metrics">
        <table class="table table-striped table-sm" id="headingOne" style="font-size: small;">
        <div id="commit-{{forloop.counter}}" class="collapse" aria-labelledby="headingOne" data-parent="#metrics">
        <tr>
            <th>Commit (autor)</th>
            <th>CA</th>
            <th>CE</th>
            <th>RMI</th>
            <th>RMA</th>
            <th>RMD</th>
            <th>Delta RMD</th>
        </tr>

        {% for metric in metrics_by_developer %}
        <tr class="{% if metric.delta_rmd > 0 %} text-danger {% elif metric.delta_rmd < 0 %} text-success {% endif %}">
            <td>
                {{metric.commit.hash}} ({{metric.commit.committer.name}})</td>
            <td>{{metric.ca}}</td>
            <td>{{metric.ce}}</td>
            <td>{{metric.rmi|floatformat:4}}</td>
            <td>{{metric.rma|floatformat:4}}</td>
            <td>{{metric.rmd|floatformat:4}}</td>
            <td>{{metric.delta_rmd|floatformat:4}}</td>
        </tr>
        {% endfor %}
            </div>
            </table>
    </div>
        {% endfor %}

{% else %}

<div class="table table-striped table-sm" style="font-size: small;text-align:center;">
    No metrics were find for these parameters
</div>

{% endif %}


{% endblock %}

<script>

    $('#metrics').collapse({
  toggle: false
})


$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>