{% extends "base.html" %}
{% load contributions_extra %}

{% block title %}Métricas da arquitetura por diretorio{% endblock %}

{% block content %}

<div class="alert alert-info" role="alert">
  <p>Indique o diretório onde estão os jars e as métricas do Arcan de cada versão. O diretório deve estar no formato:</p>
  <pre>
    ├───&lt;directory&gt;
    ├───versao-1
    │   ├───versao-1.jar
    │   └───PM.csv
    ├───versao-2
    │   ├───versao-2.jar
    │   └───PM.csv
    .
    .
    .
    ├───versao-n
    │   ├───versao-n.jar
    │   └───PM.csv
  </pre>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if messages %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
{% for message in messages %}
<p><strong>{{ message }}</strong></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}

<form action="{% url 'architecture:quality_between_versions' %}" method="post">{% csrf_token %}
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label>Diretório onde estão os compilados e métricas:</label>
      <input class="form-control" type="text" name="directory" value="versoes-ant">
    </div>
  </div>
<input type="hidden" value="1" name="project_id">
  <button class="btn btn-primary" type="submit">Gerar métricas entre versões</button>

</form>

{% endblock %}