{% extends "base.html" %}
{% load contributions_extra %}

{% block title %}Métricas da arquitetura por diretorio{% endblock %}

{% block content %}


<form action="{{request_path}}" method="post">{% csrf_token %}
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label for="directory_selector" class="sr-only">Component</label>
            <select class="form-control mb-6" id="directory_selector" placeholder="Selecione a tag" name="directory_id">
                <option selected value="{{developer.id}}">Selecione o componente</option>
                {% for directory in directories %} {{current_directory}}
                <option value="{{directory.id}}"
                        {% if directory.id == current_directory_id %}selected="selected" {% endif %}>
                    {{directory.name}}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label for="tag_selector" class="sr-only">Tag</label>
            <select class="form-control mb-6" id="tag_selector" placeholder="Selecione a tag" name="tag_id">
                <option selected value="{{tag.id}}">Selecione a versão</option>
                {% for tag in tags %} {{current_tag}}
                <option value="{{tag.id}}"
                        {% if tag.id == current_tag_id %}selected="selected" {% endif %}>
                    {{tag.description}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <div class="custom-control custom-checkbox form-check mb-2">
                <input class="custom-control-input" type="checkbox" name="until_tag" id="until_tag">
                <label class="custom-control-label" for="until_tag">
                    Somente esta versão
                </label>
            </div>
        </div>
    </div>
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label for="developer_selector" class="sr-only"></label>
            <select class="form-control mb-6" id="developer_selector" placeholder="Selecione o desenvolvedor"
                    name="developer_id">
                <option selected value="{{developer.id}}">Selecione o desenvolvedor</option>
                {% for developer in developers %} {{current_developer}}
                <option value="{{developer.id}}"
                        {% if developer.id == current_developer_id %} selected="selected" {% endif %}>
                    {{developer.name}}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row align-items-center">
        <div class="col-auto">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="radioGeral" name="delta_rmd" value="geral" {% if delta_check == "" %}checked="checked"{% endif %} class="custom-control-input">
                <label class="custom-control-label" for="radioGeral">Geral</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="radioDegrada" name="delta_rmd" value="positive" {% if delta_check == "positive" %}checked="checked"{% endif %} class="custom-control-input">
                <label class="custom-control-label" for="radioDegrada">Degrada</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="radioMelhora" name="delta_rmd" value="negative" {% if delta_check == "negative" %}checked="checked"{% endif %} class="custom-control-input">
                <label class="custom-control-label" for="radioMelhora">Melhora</label>
            </div>

        </div>
    </div>
    <div class="form-row">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Gerar Relatório</button>
        </div>
    </div>
</form>
<hr>
<div class="float-right">
    <form action="{{request_path}}" method="post">{% csrf_token %}
        <a class="btn btn-primary"
           href="{{request.path}}?export_csv=true&directory_id={{current_directory_id}}&tag_id={{current_tag_id}}&developer_id={{current_developer_id}}&delta_rmd={{delta_check}}">
            <em class="fas sm fa-arrow-alt-circle-down"></em> CSV
        </a>
    </form>

</div>
<div class="table-responsive" id="metrics">
    <table class="table table-sm" id="headingOne" style="font-size: small;">
        <caption>Dados</caption>
        <tr>
            <th scope="col">Commit (autor)</th>
            <th scope="col">Author</th>
            <th scope="col" style="text-align:right;width:13%">Author Experience</th>
            <th scope="col" style="text-align:right">Delta RMD</th>
        </tr>
        {% if metrics %}

        {% for metric in metrics %}
        <tr style="background-color: rgba(0,123,255, 0.15)">
            <td colspan="3">{{metric.directory.name}}</td>
            <td style="text-align: right">{{metric.commit.tag.description}}</td>
        </tr>

        <tr>
            <td><span class="text-muted">Commit anterior:</span>
                {{metric.previous_architecture_quality_metrics.commit.hash}} (Pai: {{metric.commit.parents_str}})
            </td>
            <td>{{metric.previous_architecture_quality_metrics.commit.author.name}}</td>
            <td style="text-align:right">
                {{metric.previous_architecture_quality_metrics.commit.author_experience|floatformat:4}}
            </td>
            <td style="text-align:right">{{metric.previous_architecture_quality_metrics.rmd|floatformat:8}}</td>
        </tr>
        <tr style="border-bottom: solid 2px">
            <td><span class="text-muted">Commit:</span> {{metric.commit.hash}} - <strong>CLOC (in this directory):
                {{metric.commit_loc}}</strong></td>
            <td>{{metric.commit.author.name}}</td>
            <td style="text-align:right">{{metric.commit.author_experience|floatformat:4}}</td>
            <td style="text-align:right;">{{metric.rmd|floatformat:8}}</td>
        </tr>
        <tr style="font-weight: bold">
            <td><strong>CLOC (commit): {{metric.commit.u_cloc}}</strong></td>
            <td>{{metric.commit.author.name}}</td>
            <td style="text-align:right">{{metric.commit.author_experience|floatformat:4}}</td>
            <td style="text-align:right"
                class="{% if metric.delta_rmd > 0 %} text-danger {% elif metric.delta_rmd < 0 %} text-success {% endif %}">
                {{metric.delta_rmd|floatformat:8}}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4" style="text-align: center">No impactful commits were found.</td>
        </tr>
        {% endif %}
    </table>
</div>

{% endblock %}