{% extends "base.html" %}
{% block title %}Análise dos Dados{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="alert bg-info shadow p-3 mb-5 bg-white rounded" role="alert">

  <p>Todos os arquivos <i class="fas fa-file-csv"></i> baixados serão salvos na pasta raiz do projeto.</p>
  <hr>

</div>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if messages %}

{% for message in messages %}

<p class="alert {{ message.tags }} alert-dismissible fade show w-50 p-3" role="alert">{{ message|safe }}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</p>


{% endfor %}

{% endif %}

<h5>Opções</h5>

<div class="row">

    <ul class="list-group w-50 p-3">
        <li class="list-group-item">Estatísticas gerais do projeto <a href="/data_analysis/descriptive_statistics/7" class="text-decoration-none"><i class="fas fa-download"></i> Baixar</a>
            <p class="font-weight-light">
                -> general_commits_statistics.csv</br>
                -> authors_commits_statistics.csv </br>
                -> among_impactful_commits_statistics.csv </br>
                -> improving_commits_statistics.csv </br>
                -> decaying_commits_statistics.csv
            </p>
        </li>
        <li class="list-group-item">Tendência do delta (delta e delta normalizado) e da degradação
            <a href="/data_analysis/descriptive_statistics/4" class="text-decoration-none"><i class="fas fa-download"></i> Baixar</a>
            <p class="font-weight-light">-> delta_trend.csv</p>
        </li>
        <li class="list-group-item">Piora e melhora da arquitetura por autor
            <a href="/data_analysis/descriptive_statistics/8" class="text-decoration-none"><i class="fas fa-download"></i> Baixar</a>
            <p class="font-weight-light">
                -> worsening_contributions_by_author.csv</br>
                -> contributions_that_improve_by_author.csv
            </p>
        </li>
        <li class="list-group-item">Commits impactantes por desenvolvedor
            <a href="/data_analysis/descriptive_statistics/5" class="text-decoration-none"><i class="fas fa-download"></i> Baixar</a>
            <p class="font-weight-light">-> overview_by_dev.csv</p>
        </li>
        <li class="list-group-item">Média da experiência e da degradação por desenvolvedor
            <a href="/data_analysis/descriptive_statistics/1" class="text-decoration-none"><i class="fas fa-download"></i> Baixar</a>
            <p class="font-weight-light">
                -> population_means.csv</br>
                -> dev_media.csv
            </p>
        </li>
        <li class="list-group-item">Correlação por versão
            <a href="/data_analysis/descriptive_statistics/2" class="text-decoration-none"><i class="fas fa-download"></i> Baixar</a>
            <p class="font-weight-light">-> correlation_version.csv</p>
        </li>
        <li class="list-group-item">Correlação por por desenvolvedor
            <a href="/data_analysis/descriptive_statistics/3" class="text-decoration-none"><i class="fas fa-download"></i> Baixar</a>
            <p class="font-weight-light">-> correlation_dev.csv</p>
        </li>
        <li class="list-group-item">Médias da Experiência e Degradação por classe (faixa de quantidade de commits)
            <a href="/data_analysis/descriptive_statistics/6" class="text-decoration-none"><i class="fas fa-download"></i> Baixar</a>
            <p class="font-weight-light">-> by_commit_frequency_10x_semOutliers.csv</p>
        </li>
    </ul>

</div>




{% endblock %}